// ==========================================================================
// Avatar Styles
// ==========================================================================


.avatar {
    font-size: 0;
    height: 60px;
    width: 60px;
    
    @include e(img) {
        border-radius: $br--round;
    }
}

