// ==========================================================================
// User-menu Styles
// ==========================================================================

.user-menu {
    display: flex;
    flex-direction: column;

    @include e(item-info) {
        background: #fff;
        display: none;
        margin-bottom: 22px;
        padding: 32px;
    }   
}