// ==========================================================================
// Extends
// ==========================================================================

%arrow-icon {
    border-right: 2px solid $white;
    border-top: 2px solid $white;
    padding: 0;
    transition: transform .3s;
}