// ==========================================================================
// Wrapper
// ==========================================================================

.wrapper {
    display: flex;
    margin: 0 auto;
    max-height: 100vh;
    max-width: 1366px;

    @include mq(small) {
        flex-direction: column;
        max-height: 100%;
        overflow: auto;
    }
}

.messages {
    display: flex;
    flex-direction: column;
}
