// ==========================================================================
// Base Styles
// ==========================================================================


body {  
    margin: 0;
    padding: 0;
    background: $grey;
    font: $font-weight--light calculateRem($base__font-size)/$base__line $font-family--primary;// 300 14px/20px 'open sans'
}

input:focus, [contenteditable="true"] {
    outline: none;
}


// ==========================================================================
// Disable input checkbox elements show
// ==========================================================================

#btn-arrow, #btn-bars, #btn-account-info, #btn-settings {
    display: none;
}